snapshot-Development.json
{
    "id": "alZP4pKkZV",
    "name": "6.6",
    "description": "",
    "createdAt": "2025-04-30T11:42:24.387Z",
    "updatedAt": "2025-04-30T11:42:24.387Z",
    "flows": {
        "flows": [
            {
                "id": "FFF0000000000001",
                "type": "tab",
                "label": "FlowFuse Device Flow",
                "disabled": false,
                "info": ""
            },
            {
                "id": "43a6d049a846f14e",
                "type": "ui_tab",
                "name": "Home",
                "icon": "dashboard",
                "disabled": false,
                "hidden": false
            },
            {
                "id": "7c9809cce7b80e0c",
                "type": "ui_base",
                "theme": {
                    "name": "theme-light",
                    "lightTheme": {
                        "default": "#0094CE",
                        "baseColor": "#0094CE",
                        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                        "edited": false
                    },
                    "darkTheme": {
                        "default": "#097479",
                        "baseColor": "#097479",
                        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                        "edited": false
                    },
                    "customTheme": {
                        "name": "Untitled Theme 1",
                        "default": "#4B7930",
                        "baseColor": "#4B7930",
                        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                    },
                    "themeState": {
                        "base-color": {
                            "default": "#0094CE",
                            "value": "#0094CE",
                            "edited": false
                        },
                        "page-titlebar-backgroundColor": {
                            "value": "#0094CE",
                            "edited": false
                        },
                        "page-backgroundColor": {
                            "value": "#fafafa",
                            "edited": false
                        },
                        "page-sidebar-backgroundColor": {
                            "value": "#ffffff",
                            "edited": false
                        },
                        "group-textColor": {
                            "value": "#1bbfff",
                            "edited": false
                        },
                        "group-borderColor": {
                            "value": "#ffffff",
                            "edited": false
                        },
                        "group-backgroundColor": {
                            "value": "#ffffff",
                            "edited": false
                        },
                        "widget-textColor": {
                            "value": "#111111",
                            "edited": false
                        },
                        "widget-backgroundColor": {
                            "value": "#0094ce",
                            "edited": false
                        },
                        "widget-borderColor": {
                            "value": "#ffffff",
                            "edited": false
                        },
                        "base-font": {
                            "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                        }
                    },
                    "angularTheme": {
                        "primary": "indigo",
                        "accents": "blue",
                        "warn": "red",
                        "background": "grey",
                        "palette": "light"
                    }
                },
                "site": {
                    "name": "Node-RED Dashboard",
                    "hideToolbar": "false",
                    "allowSwipe": "false",
                    "lockMenu": "false",
                    "allowTempTheme": "true",
                    "dateFormat": "DD/MM/YYYY",
                    "sizes": {
                        "sx": 48,
                        "sy": 48,
                        "gx": 6,
                        "gy": 6,
                        "cx": 6,
                        "cy": 6,
                        "px": 0,
                        "py": 0
                    }
                }
            },
            {
                "id": "8bbdf3e91dc11512",
                "type": "project link in",
                "z": "FFF0000000000001",
                "name": "project in 1",
                "project": "all",
                "broadcast": true,
                "topic": "check",
                "x": 120,
                "y": 140,
                "wires": [
                    [
                        "aa518d8138d01b03"
                    ]
                ]
            },
            {
                "id": "45377e20ce9b7343",
                "type": "project link out",
                "z": "FFF0000000000001",
                "name": "project out 1",
                "mode": "link",
                "broadcast": true,
                "project": "cbdcbf3a-da70-468c-941e-c333ea1a0e43",
                "topic": "confirm",
                "x": 450,
                "y": 140,
                "wires": []
            },
            {
                "id": "aa518d8138d01b03",
                "type": "change",
                "z": "FFF0000000000001",
                "name": "",
                "rules": [
                    {
                        "t": "set",
                        "p": "payload.device",
                        "pt": "msg",
                        "to": "FF_DEVICE_NAME",
                        "tot": "env"
                    },
                    {
                        "t": "set",
                        "p": "payload.snapshot",
                        "pt": "msg",
                        "to": "FF_SNAPSHOT_NAME",
                        "tot": "env"
                    }
                ],
                "action": "",
                "property": "",
                "from": "",
                "to": "",
                "reg": false,
                "x": 280,
                "y": 140,
                "wires": [
                    [
                        "45377e20ce9b7343",
                        "8806f6a6b51c730e"
                    ]
                ]
            },
            {
                "id": "8806f6a6b51c730e",
                "type": "debug",
                "z": "FFF0000000000001",
                "name": "debug 1",
                "active": true,
                "tosidebar": true,
                "console": true,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 450,
                "y": 100,
                "wires": []
            },
            {
                "id": "f7148c37d30db5ba",
                "type": "moment",
                "z": "FFF0000000000001",
                "name": "",
                "topic": "",
                "input": "payload",
                "inputType": "msg",
                "inTz": "Africa/Abidjan",
                "adjAmount": 0,
                "adjType": "days",
                "adjDir": "add",
                "format": "",
                "locale": "en-US",
                "output": "payload",
                "outputType": "msg",
                "outTz": "Africa/Abidjan",
                "x": 280,
                "y": 280,
                "wires": [
                    [
                        "999e2f61b088dfcf"
                    ]
                ]
            },
            {
                "id": "8764986816807962",
                "type": "inject",
                "z": "FFF0000000000001",
                "name": "",
                "props": [
                    {
                        "p": "payload"
                    },
                    {
                        "p": "topic",
                        "vt": "str"
                    }
                ],
                "repeat": "",
                "crontab": "",
                "once": false,
                "onceDelay": 0.1,
                "topic": "",
                "payload": "",
                "payloadType": "date",
                "x": 100,
                "y": 280,
                "wires": [
                    [
                        "f7148c37d30db5ba"
                    ]
                ]
            },
            {
                "id": "999e2f61b088dfcf",
                "type": "debug",
                "z": "FFF0000000000001",
                "name": "debug 2",
                "active": true,
                "tosidebar": true,
                "console": false,
                "tostatus": false,
                "complete": "false",
                "statusVal": "",
                "statusType": "auto",
                "x": 480,
                "y": 280,
                "wires": []
            }
        ],
        "credentials": {
            "$": "214fdcdc1e578b6088d8b3f86612ce7e6sM="
        }
    },
    "settings": {
        "settings": {},
        "env": {},
        "modules": {
            "@flowfuse/nr-assistant": ">=0.1.0",
            "@flowfuse/nr-project-nodes": "~0.7.3",
            "node-red": "3.1.7",
            "node-red-contrib-moment": "~5.0.0",
            "node-red-dashboard": "~3.6.5"
        }
    },
    "ownerType": "device",
    "user": {
        "id": "6nkvARPgRx",
        "username": "robmarcer-flowforge",
        "name": "Rob Marcer",
        "avatar": "https://app.flowfuse.com/avatar/Um9iIE1hcmNlcg",
        "admin": true,
        "createdAt": "2022-09-12T08:25:14.762Z",
        "suspended": false
    }
}