snapshot-Staging Euro 1.json
{
    "id": "dezq8gLq3W",
    "name": "7.1",
    "description": "",
    "createdAt": "2025-05-13T12:03:15.165Z",
    "updatedAt": "2025-05-13T12:03:15.165Z",
    "flows": {
        "flows": [
            {
                "id": "FFF0000000000001",
                "type": "tab",
                "label": "FlowFuse Device Flow",
                "disabled": false,
                "info": ""
            },
            {
                "id": "8bbdf3e91dc11512",
                "type": "project link in",
                "z": "FFF0000000000001",
                "name": "project in 1",
                "project": "all",
                "broadcast": true,
                "topic": "check",
                "x": 120,
                "y": 140,
                "wires": [
                    [
                        "aa518d8138d01b03"
                    ]
                ]
            },
            {
                "id": "45377e20ce9b7343",
                "type": "project link out",
                "z": "FFF0000000000001",
                "name": "project out 1",
                "mode": "link",
                "broadcast": true,
                "project": "cbdcbf3a-da70-468c-941e-c333ea1a0e43",
                "topic": "confirm",
                "x": 770,
                "y": 140,
                "wires": []
            },
            {
                "id": "aa518d8138d01b03",
                "type": "change",
                "z": "FFF0000000000001",
                "name": "",
                "rules": [
                    {
                        "t": "set",
                        "p": "payload.device",
                        "pt": "msg",
                        "to": "FF_DEVICE_NAME",
                        "tot": "env"
                    },
                    {
                        "t": "set",
                        "p": "payload.snapshot",
                        "pt": "msg",
                        "to": "FF_SNAPSHOT_NAME",
                        "tot": "env"
                    }
                ],
                "action": "",
                "property": "",
                "from": "",
                "to": "",
                "reg": false,
                "x": 280,
                "y": 140,
                "wires": [
                    [
                        "7962d8d523d717a1"
                    ]
                ]
            },
            {
                "id": "8806f6a6b51c730e",
                "type": "debug",
                "z": "FFF0000000000001",
                "name": "debug 1",
                "active": false,
                "tosidebar": true,
                "console": true,
                "tostatus": false,
                "complete": "payload",
                "targetType": "msg",
                "statusVal": "",
                "statusType": "auto",
                "x": 770,
                "y": 100,
                "wires": []
            },
            {
                "id": "7962d8d523d717a1",
                "type": "function",
                "z": "FFF0000000000001",
                "name": "function 1",
                "func": "const deviceString = msg.payload.device\nconst splitStrings = deviceString.split(' ')\nmsg.payload.device = splitStrings\nreturn msg",
                "outputs": 1,
                "timeout": 0,
                "noerr": 0,
                "initialize": "",
                "finalize": "",
                "libs": [],
                "x": 440,
                "y": 140,
                "wires": [
                    [
                        "e32534568c3d2411"
                    ]
                ]
            },
            {
                "id": "e32534568c3d2411",
                "type": "change",
                "z": "FFF0000000000001",
                "name": "",
                "rules": [
                    {
                        "t": "move",
                        "p": "payload.device",
                        "pt": "msg",
                        "to": "payload.store",
                        "tot": "msg"
                    },
                    {
                        "t": "set",
                        "p": "payload.device.env",
                        "pt": "msg",
                        "to": "payload.store[0]",
                        "tot": "msg"
                    },
                    {
                        "t": "set",
                        "p": "payload.device.location",
                        "pt": "msg",
                        "to": "payload.store[1]",
                        "tot": "msg"
                    },
                    {
                        "t": "set",
                        "p": "payload.device.ipc",
                        "pt": "msg",
                        "to": "payload.store[2]",
                        "tot": "msg"
                    },
                    {
                        "t": "delete",
                        "p": "payload.store",
                        "pt": "msg"
                    },
                    {
                        "t": "move",
                        "p": "payload.snapshot",
                        "pt": "msg",
                        "to": "payload.device.version",
                        "tot": "msg"
                    }
                ],
                "action": "",
                "property": "",
                "from": "",
                "to": "",
                "reg": false,
                "x": 600,
                "y": 140,
                "wires": [
                    [
                        "45377e20ce9b7343",
                        "8806f6a6b51c730e"
                    ]
                ]
            }
        ],
        "credentials": {
            "$": "952f13b605a40c527530d721b063c9c5ma0="
        }
    },
    "settings": {
        "settings": {},
        "env": {},
        "modules": {
            "@flowfuse/nr-assistant": ">=0.1.0",
            "@flowfuse/nr-project-nodes": "~0.7.3",
            "node-red": "3.1.7",
            "node-red-contrib-moment": "~5.0.0"
        }
    },
    "ownerType": "device",
    "user": {
        "id": "6nkvARPgRx",
        "username": "robmarcer-flowforge",
        "name": "Rob Marcer",
        "avatar": "https://app.flowfuse.com/avatar/Um9iIE1hcmNlcg",
        "admin": true,
        "createdAt": "2022-09-12T08:25:14.762Z",
        "suspended": false
    }
}